
<% if flash[:notice].present? %>
  <%= content_tag :div, flash.notice, id: "flash-notice", style: "display: none;" %>
  <script>
    Swal.fire({
        toast: true,
        position: "top-end",
        icon: 'success',
        title: document.getElementById('flash-notice').innerText,
        timer: 2000,
        showConfirmButton: false,
        timerProgressBar: true,
      });
  </script>
<% end %>

<div class="card card-primary">
  <div class="card-header">
    <div class="d-flex justify-content-between">
    <h1>Centro de Custo</h1>
    <%= link_to 'Novo Centro de Custo', new_account_plan_path, class: 'btn btn-warning' %>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @account_plans.each do |account_plan| %>
          <tr>
            <td><%= account_plan.name %></td>
            <td>
              <%= link_to 'Ver Detalhes', expense_path(account_plan), data: { turbo: false }, class: 'btn btn-info btn-sm' %>
              <%= link_to 'Editar', edit_account_plan_path(account_plan), data: { turbo: false }, class: 'btn btn-warning btn-sm' %>
              <%= link_to "Excluir", account_plan_path(account_plan), data: {
                turbo_method: :delete,
                turbo_confirm: "Deletar Centro de Custo ?"
              }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
