<div class="card card-outline card-primary larger-card">
  <div class="card-header text-center">
    <div>
      <h1>Nova Compra</h1>
    </div>
  </div>

  <div class="card-body">     
    <%= form_with model: @purchase, class: 'mb-3' do |form| %>
      <div class="row" style="justify-content: center;">
        <div class="col-md-5">
          <div class="form-group">
            <%= form.label :supplier_id, "Fornecedor" %>
            <%= form.collection_select :supplier_id, Supplier.all, :id, :name,
              { include_blank: false, prompt: "Selecione o Fornecedor" },
              class: 'form-control'
            %>
            <% @purchase.errors.full_messages_for(:supplier_id).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :nota_number, "Número da Nota" %>
            <%= form.number_field :nota_number, step:0.01, class: 'form-control', placeholder: "Número da Nota", min: 0 %>
            <% @purchase.errors.full_messages_for(:nota_number).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :serie, "Série" %>
            <%= form.number_field :serie, step:0.01, class: 'form-control', placeholder: "Série", min: 0 %>
            <% @purchase.errors.full_messages_for(:serie).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :issue_date, "Data de Emissão" %>
            <%= form.date_field :issue_date, class: 'form-control', placeholder: "Data de Emissão" %>
            <% @purchase.errors.full_messages_for(:issue_date).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :receipt_date, "Data de Recebimento" %>
            <%= form.date_field :receipt_date, class: 'form-control', placeholder: "Data de Recebimento" %>
            <% @purchase.errors.full_messages_for(:receipt_date).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <%= form.label :total_nota, "Total da Nota" %>
            <%= form.number_field :total_nota, step:0.01, class: 'form-control', placeholder: "Total da Nota", min: 0 %>
            <% @purchase.errors.full_messages_for(:total_nota).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :total_products, "Total de Produtos" %>
            <%= form.number_field :total_products, step:0.01, class: 'form-control', placeholder: "Total de Produtos", min: 0 %>
            <% @purchase.errors.full_messages_for(:total_products).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :discount, "Desconto" %>
            <%= form.number_field :discount, value:0, class: 'form-control', min: 0%>
            <% @purchase.errors.full_messages_for(:discount).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :addition, "Acréscimos" %>
            <%= form.number_field :additon, value:0, class: 'form-control', min: 0%>
            <% @purchase.errors.full_messages_for(:additon).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :tax, "Imposto" %>
            <%= form.number_field :tax, step:0.01, class: 'form-control', placeholder: "Imposto", min: 0 %>
            <% @purchase.errors.full_messages_for(:tax).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :shipping, "Frete" %>
            <%= form.number_field :shipping, step:0.01, class: 'form-control', placeholder: "Frete", min: 0 %>
            <% @purchase.errors.full_messages_for(:shipping).each do |message| %>
              <div style="color: red;"><%= message %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <%= form.submit 'Salvar', class: 'btn btn-block btn-primary' %>
      </div>
    <% end %>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

