<div class="card card-primary">

  <div class="card-header">
    <h1>Detalhes da Compra</h1>
  </div>

  <div class="card-body" style="text-align: center;">    
    <table class="table table-hover" >
      <thead>
        <tr>
          <th>Nota</th>
          <th>Serie</th>
          <th>Data de Emissao</th>
          <th>Data de Recebimento</th>
          <th>Total da Nota</th>
          <th>Total Produtos</th>
          <th>Desconto</th>
          <th>Acrescimos</th>
          <th>Frete</th>
          <th>Imposto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @purchase.nota_number %></td>
          <td><%= @purchase.serie %></td>
          <td><%= @purchase.issue_date%></td>
          <td><%= @purchase.receipt_date%></td>
          <td><%= @purchase.total_nota %></td>
          <td><%= @purchase.total_products %></td>
          <td><%= @purchase.discount %></td>
          <td><%= @purchase.additon %></td>
          <td><%= @purchase.shipping %></td>
          <td><%= @purchase.tax%></td>
        </tr>
      </tbody>
    </table>
  </div>
      
  <div class="card-footer" >
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Unidade</th>
          <th>Preço de Compra</th>
          <th>Quantidade</th>                
          <th>Preço Parcial</th>
        </tr>
      </thead>
      <tbody>
          <% @purchase_lists.each do |purchase_list| %>
            <% if purchase_list.purchase.id === @purchase.id %>
              <tr>
                <td><%= purchase_list.product.name %></td>
                <td><%= purchase_list.product.unity %></td>
                <td><%= purchase_list.product.purchase_price %></td>
                <td>
                  <div class="form-inline">
                    <%= form_with(url: update_item_purchaselist_cart_path) do |f| %> 
                      <%= f.hidden_field :purchase_list,value:purchase_list.id %>                  
                      <%= f.hidden_field :purchase_id, value:purchase_list.purchase_id %> 
                      <%= f.number_field :quantity, step:0.01, value: purchase_list.quantity, min: 0, class: "form-control"%>           
                      <%= f.submit "Atualizar", class: "btn btn-success btn-sm mr-1" %>
                    <% end %>
        
                    <%= form_with(url: remove_item_purchaselist_cart_path) do |f| %> 
                      <%= f.hidden_field :purchase_list,value:purchase_list.id %>                  
                      <%= f.hidden_field :purchase_id, value:purchase_list.purchase_id %>     
                      <%= f.submit "Remover", class: "btn btn-danger btn-sm " %>
                    <% end %>
                  </div>
                </td>

                <td><%= purchase_list.total_compra_parcial %></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>

    <!--REVER FORMULARIO
    <div class="mt-3">
      <div class="form-inline">
        <%= form_with(url: purchase_discount_or_addition_path) do |f| %>
          <%= f.hidden_field :purchase_list_id, value:""%>
          <%= f.hidden_field :cart_id , value:""%>
          <%= f.number_field :quantity, step: 0.01, class: "form-control mr-1", placeholder: "Quantidade (R$)" %>
          <%= f.submit "Aplicar Desconto", name: "discount", class: "btn btn-primary btn-sm mr-1" %>
          <%= f.submit "Aplicar Acréscimo", name: "addition", class: "btn btn-warning btn-sm"  %>
        <% end %>
      </div>
    </div>
    -->
    
    <strong><%= "TOTAL: #{@purchase.total_compra(@purchase.id)}"  %></strong>
    <%= form_with(url: buy_purchaselist_cart_path) do |form| %>
    <%= form.hidden_field :data, value:@purchase.receipt_date%>
    <%= form.hidden_field :purchase_id, value: @purchase.id %>
    <%= form.hidden_field :total_value, value: @purchase.total_compra(@purchase.id) %>
      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
        
        Finalizar Compra A vista
      <% end %>
    <% end %>
  </div>
</div>


<div class="card card-primary card-tabs">
  <div class="card-header p-0 pt-1">
    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">RIPA</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">CAIBRO</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">FRECHAL</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">VIGA</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="custom-tabs-one-products-tab" data-toggle="pill" href="#custom-tabs-one-products" role="tab" aria-controls="custom-tabs-one-products" aria-selected="false">Todos os Produtos</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="custom-tabs-one-tabContent">

      <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Unidade</th>
              <th>Preço</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <% if product.name.start_with?("RIPA") %>
                <tr>
                  <td><%= product.name %></td>
                  <td><%= product.unity %></td>
                  <td><%= product.purchase_price %></td>
                  <td>
                    <%= form_with(url: include_products_path) do |form| %>
                      <%= form.hidden_field :purchase_id, value: @purchase.id %>
                      <%= form.hidden_field :product_id, value: product.id %>
                      <%= form.number_field :quantity, step:0.01, placeholder: 'Quantidade' %>
                      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
                        Incluir na compra
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Unidade</th>
              <th>Preço</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <% if product.name.start_with?("CAIBRO") %>
                <tr>
                  <td><%= product.name %></td>
                  <td><%= product.unity %></td>
                  <td><%= product.purchase_price %></td>
                  <td>
                    <%= form_with(url: include_products_path) do |form| %>
                      <%= form.hidden_field :purchase_id, value: @purchase.id %>
                      <%= form.hidden_field :product_id, value: product.id %>
                      <%= form.number_field :quantity, step:0.01, placeholder: 'Quantidade' %>
                      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
                        Incluir na compra
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Unidade</th>
              <th>Preço</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <% if product.name.start_with?("FRECHAL") %>
                <tr>
                  <td><%= product.name %></td>
                  <td><%= product.unity %></td>
                  <td><%= product.purchase_price %></td>
                  <td>
                    <%= form_with(url: include_products_path) do |form| %>
                      <%= form.hidden_field :purchase_id, value: @purchase.id %>
                      <%= form.hidden_field :product_id, value: product.id %>
                      <%= form.number_field :quantity, step:0.01, placeholder: 'Quantidade' %>
                      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
                        Incluir na compra
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Unidade</th>
              <th>Preço</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <% if product.name.start_with?("VIGA") %>
                <tr>
                  <td><%= product.name %></td>
                  <td><%= product.unity %></td>
                  <td><%= product.purchase_price %></td>
                  <td>
                    <%= form_with(url: include_products_path) do |form| %>
                      <%= form.hidden_field :purchase_id, value: @purchase.id %>
                      <%= form.hidden_field :product_id, value: product.id %>
                      <%= form.number_field :quantity, step:0.01, placeholder: 'Quantidade' %>
                      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
                        Incluir na compra
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="custom-tabs-one-products" role="tabpanel" aria-labelledby="custom-tabs-one-products-tab">
        <div class="input-group">
          <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here">
          <div class="input-group-append">
            <button type="submit" class="btn btn-lg btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Unidade</th>
              <th>Preço</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
                <tr>
                  <td><%= product.name %></td>
                  <td><%= product.unity %></td>
                  <td><%= product.purchase_price %></td>
                  <td>
                    <%= form_with(url: include_products_path) do |form| %>
                      <%= form.hidden_field :purchase_id, value: @purchase.id %>
                      <%= form.hidden_field :product_id, value: product.id %>
                      <%= form.number_field :quantity, step:0.01, placeholder: 'Quantidade' %>
                      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
                        Incluir na compra
                      <% end %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <!-- /.card -->
</div>