<div class="card card-outline card-primary larger-card">
    <div class="card-header text-center">
        <h1><i class="fas fa-user"></i> Detalhes do Cliente</h1>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="card col-md-5">
                <div class="form-group">
                    <label for="tipoCliente">Tipo do Cliente:</label>
                    <div id="tipoCliente"><%= @client.customer_type %></div>
                </div>

                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <div id="nome"><%= @client.name %></div>
                </div>

                <div class="form-group" style="display: none;">
                    <label for="cpf">CPF:</label>
                    <div id="cpf"><%= @client.cpf %></div>
                </div>

                <div class="form-group">
                    <label for="cnpj">CNPJ:</label>
                    <div id="cnpj"><%= @client.cnpj %></div>
                </div>

                <div class="form-group">
                    <label for="inscricaoEstadual">Inscrição Estadual:</label>
                    <div id="inscricaoEstadual"><%= @client.state_registration %></div>
                </div>

                <div class="form-group">
                    <label for="inscricaoMunicipal">Inscrição Municipal:</label>
                    <div id="inscricaoMunicipal"><%= @client.municipal_registration %></div>
                </div>

                <div class="form-group">
                    <label for="ramoAtividade">Ramo de Atividade:</label>
                    <div id="ramoAtividade"><%= @client.business_sector %></div>
                </div>

                <div class="form-group">
                    <label for="codIbge">Código IBGE:</label>
                    <div id="codIbge"><%= @client.ibge_code %></div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label>CEP:</label>
                    <%= @client.cep %>
                </div>

                <div class="form-group">
                    <label>Logradouro:</label>
                    <%= @client.address %>
                </div>

                <div class="form-group">
                    <label>Bairro:</label>
                    <%= @client.district %>
                </div>

                <div class="form-group">
                    <label>Cidade:</label>
                    <%= @client.city%>
                </div>

                <div class="form-group">
                    <label>Numero:</label>
                    <%= @client.number %>
                </div>

                <div class="form-group">
                    <label>UF:</label>
                    <%= @client.state %>
                </div>

                <div class="form-group">
                    <label>Observação:</label>
                    <%= @client.notes%>
                </div>
            </div>
        </div>
    </div>
</div>
