
<div class="card card-primary">
    <div class="card-header">
      <h1>Contas A PAGAR</h1>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Data</th>
            <th>Cliente</th>
            <th>Entrada</th>
            <th>Valor Total da Venda</th>
            <th>Falta Pagar</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @bills_payment.each do |bill_payment| %>   
            <% if bill_payment.remaining_payment > 0 %>
            <tr>
              <td><%= bill_payment.purchase.receipt_date %></td>
                <td>
                  <%= bill_payment.purchase.supplier.name %>
                </td>
              <td><%= number_to_currency(bill_payment.down_payment, unit: 'R$', separator: ',', delimiter: '.') %></td>
              <td><%= number_to_currency(bill_payment.total_value, unit: 'R$', separator: ',', delimiter: '.') %></td>
              <td><%= number_to_currency(bill_payment.remaining_payment, unit: 'R$', separator: ',', delimiter: '.') %></td>
              <td>
                <div class="form-inline">
                  <%= form_with(url: payment_bills_path, local: true) do |f| %>
                    <%= f.hidden_field :bill_payment_id, value: bill_payment.id %>
                    <%= f.number_field :quantity, step: 0.01, class: "form-control mr-1", placeholder: "Quantidade (R$)", min: 0 %>
                    <%= f.submit "Pagar", class: "btn btn-primary btn-sm mr-1" %>
                  <% end %>
                  <td><%= link_to "Detalhes", purchase_path(bill_payment.purchase), class: "btn btn-warning btn-sm", data: { turbo: false } %></td>
                </div>
              </td>
            </tr>
            <% end %>      
             
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="card card-primary">
    <div class="card-header">
      <h1>Contas PAGAS</h1>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Data</th>
            <th>Cliente</th>
            <th>Entrada</th>
            <th>Valor Total da Venda</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @bills_payment.each do |bill| %>  
          <% if bill.remaining_payment ===0 %>
          <tr>
            <td><%= bill.purchase.receipt_date %></td>
              <td>
                <%= bill.purchase.supplier.name %>
              </td>
            <td><%= number_to_currency(bill.down_payment, unit: 'R$', separator: ',', delimiter: '.') %></td>
            <td><%= number_to_currency(bill.total_value, unit: 'R$', separator: ',', delimiter: '.') %></td>
            <td>
              <div class="form-inline">
                <td><%= link_to "Detalhes", purchase_path(bill.purchase), class: "btn btn-warning btn-sm", data: { turbo: false } %></td>
              </div>
            </td>
          </tr>
        <% end %>
          <% end %>       
             
        </tbody>
      </table>
    </div>
  </div>