<!-- Carrinho do Cliente -->


<div class="card card-primary">
  <div class="card-header">
    <div class="float-left">
      <h5 class="mb-0">Cliente: <%= @client.name %></h5>
      <p class="mb-0">Data: <%= @cart.date.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome do Produto</th>
          <th>Preço Unitário</th>
          <th>Editar</th>
          <th>Total Parcial</th>
        </tr>
      </thead>

      <tbody id="orderables-table-body">
        <%= render partial: 'carts/orderables_table_body', locals: { orderables: @orderables, cart: @cart, client: @client } %>
      </tbody>
    </table>


    <% if @cart.total > 0 %>
      <div class="mt-3"> <!-- Espaçamento vertical -->
        <div class="form-inline">
          <%= form_with(url: orderable_discount_or_addition_path) do |f| %>
            <%= f.hidden_field :client_id, value:@client.id  %>
            <%= f.hidden_field :cart_id , value:@cart.id%>
            <%= f.number_field :quantity, step: 0.1, class: "form-control mr-1", placeholder: "Quantidade (R$)", min: 0 %>
            <%= f.submit "Aplicar Desconto", name: "discount", class: "btn btn-primary btn-sm mr-1" %>
            <%= f.submit "Aplicar Acréscimo", name: "addition", class: "btn btn-warning btn-sm"  %>
          <% end %>
        </div>
      </div>
      <% if @cart.discount > 0 %>
        <%= "Desconto#{@cart.discount} " %>
        <div class="card-footer mt-3">
          <div style="display: flex; justify-content:space-between;">
            <div class="mt-2">
              <strong>TOTAL:</strong> <%= number_to_currency(@cart.total - @cart.discount, unit: 'R$', separator: ',', delimiter: '.') %>
          <%= link_to sell_cart_path(cart_balance:@cart.total - @cart.discount), class: "btn btn-success btn-sm", data: { turbo: false } do %>
            <i class="fas fa-cart-plus ml-1"></i> A VISTA 
          <% end %>
            </div>
            
            <div class="mt-1">
              <div class="form-inline">
                <%= form_with url: foward_sell_cart_path, method: :post, data: { turbo: false } do |f|%>
                  <%= f.hidden_field :cart_balance, value:@cart.total  %>
                  <%= f.number_field :down_payment, step: 0.1, class: "form-control mr-1", placeholder: "Valor de Entrada (R$)", min: 0 %>
                  <%= f.text_field :obs, class: "form-control mr-1", placeholder: "Cliente" %>
                  <%= f.submit "A Prazo", class: "btn btn-primary btn-sm" %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      <%elsif @cart.addition > 0 %>
        <%= "Acrescimo#{@cart.addition}" %>
        <div class="card-footer mt-3">
          <div style="display: flex; justify-content:space-between;">
            <div class="mt-2">
              <strong>TOTAL:</strong> <%= number_to_currency(@cart.total + @cart.addition, unit: 'R$', separator: ',', delimiter: '.') %>
          <%= link_to sell_cart_path(cart_balance:@cart.total + @cart.addition), class: "btn btn-success btn-sm", data: { turbo: false } do %>
            <i class="fas fa-cart-plus ml-1"></i> A VISTA 
          <% end %>
            </div>
            
            <div class="mt-1">
              <div class="form-inline">
                <%= form_with url: foward_sell_cart_path, method: :post, data: { turbo: false } do |f|%>
                  <%= f.hidden_field :cart_balance, value:@cart.total  %>
                  <%= f.number_field :down_payment, step: 0.1, class: "form-control mr-1", placeholder: "Valor de Entrada (R$)", min: 0 %>
                  <%= f.text_field :obs, class: "form-control mr-1", placeholder: "Cliente" %>
                  <%= f.submit "A Prazo", class: "btn btn-primary btn-sm" %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      <% else %>
        <div class="card-footer mt-3">
          <div style="display: flex; justify-content:space-between;">
            <div class="mt-2">
              <strong>TOTAL:</strong> <%= number_to_currency(@cart.total, unit: 'R$', separator: ',', delimiter: '.') %>
            
              
              <%= link_to "A vista", sell_cart_path(cart_balance:@cart.total, cart_client:@client.id), class:"btn btn-success btn-sm mr-1", data: { turbo: false }%>
            </div>
            
            <div class="mt-1">
              <div class="form-inline">
                <%= form_with url: foward_sell_cart_path, method: :post, data: { turbo: false } do |f|%>
                  <%= f.hidden_field :cart_balance, value:@cart.total  %>
                  <%= f.number_field :down_payment, step: 0.1, class: "form-control mr-1", placeholder: "Valor de Entrada (R$)", min: 0 %>
                  <%= f.text_field :obs, class: "form-control mr-1", placeholder: "Cliente" %>
                  <%= f.submit "A Prazo", class: "btn btn-primary btn-sm" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%else%>
      <p style="display: flex; justify-content: center; align-items: center; font-size: 18px; color: #333; font-weight: bold; padding: 10px; background-color: #add8e6; border-radius: 8px; border: 2px solid #87ceeb; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); margin: 20px 0;">
        <i class="fas fa-cart-plus" style="margin-right: 10px;"></i> Selecione uma quantidade e clique em "incluir no carrinho de venda" para adicionar um produto ao carrinho
      </p>
    <%end%>
  </div>
</div>

<div class="card card-primary">
  <div class="card-header">
    <h5>Lista de Produtos</h5>
  </div>

  <div class="text-center mt-3 d-flex justify-content-center">
    <%= button_to "RIPA", filter_path(product_name: "RIPA", client_id: @client.id), class: "btn btn-primary mr-2" %>
    <%= button_to "FRECHAL", filter_path(product_name: "FRECHAL", client_id: @client.id), class: "btn btn-primary mr-2" %>
    <%= button_to "CAIBRO", filter_path(product_name: "CAIBRO", client_id: @client.id), class: "btn btn-primary mr-2" %>
    <%= button_to "VIGA", filter_path(product_name: "VIGA", client_id: @client.id), class: "btn btn-primary mr-2" %>
  </div>
  
  <div class="card-body">
    <table class="table table-bordered table-hover mt-3">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Unidade</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="product-table-body">
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.unity %></td>
            <td><%= product.sale_price %></td>
            <td>
              <div class="d-flex">
                <%= form_with(url: cart_orderable_path) do |form| %>
                  <%= form.hidden_field :client_id, value: @client.id %>
                  <%= form.hidden_field :product_id, value: product.id %>
                  <div class="d-flex align-items-center">
                    <%= form.number_field :quantity, step: 0.1, placeholder: 'Quantidade', class:"form-control mr-1", min: 0 %>
                    <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
                      <i class="fas fa-cart-plus mr-1"></i> Incluir no Carrinho de Venda
                    <% end %>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>