<h1>Lista de Carrinhos</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Balance</th>
      <th>Discount</th>
      <th>addition</th>
      <th>data</th>
      <th>ações</th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.balance%></td>
        <td><%= cart.discount%></td>
        <td><%= cart.addition%></td>
        <td><%= cart.date%></td>
        <td><%= link_to "Incluir Produtos", cart_path(cart), class: "btn btn-primary btn-sm" %></td>

      </tr>
    <% end %>
  </tbody>
</table>