<div style="display: flex; justify-content: center;">
  <div class="card">
   
    <div class="card-header">
      <strong>Data:</strong> <%= @cart.created_at.strftime("%d/%m/%Y") %> | <!-- Mostra apenas a data -->
      <strong>Hora:</strong> <%= @cart.created_at.strftime("%H:%M:%S") %> <!-- Mostra apenas a hora -->
    </div>
  
    <div class="dropdown card-footer" style="display: flex; justify-content: center;">
      <button class="btn btn-info dropdown-toggle" type="button" id="clienteDropdown<%= @cart.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Selecione o Cliente
      </button>
      <ul class="dropdown-menu" aria-labelledby="clienteDropdown<%= @cart.id %>">
        <% Client.all.each do |client| %>
          <li>
            <%= link_to client.name, show_path(cart_id: @cart.id, client_id: client.id), class: "dropdown-item btn btn-primary btn-sm", data: { turbo: false } %>
          </li>
        <% end %>
      </ul>
    </div>
    
    
    
    

  </div>
  
</div>
