<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <%= form_with(url: adjust_all_sale_prices_path, method: :patch) do |f| %>
        <div class="form-group">
          <%= f.number_field :sale_percentage, placeholder: "Ex: Digite: 5, para aumentar/reduzir em 5%", step: 0.01, class: "form-control" %>
        </div>
        <%= f.submit "Aumentar Preços de Venda", name: "increase_sale_percentage", class: "btn btn-primary btn-sm mr-1" %>
        <%= f.submit "Reduzir Preços de Venda", name: "decrease_sale_percentage", class: "btn btn-warning btn-sm"  %>
      <% end %>
  
      <%= form_with(url: adjust_all_purchase_prices_path, method: :patch) do |f| %>
        <div class="form-group">
          <%= f.number_field :purchase_percentage, placeholder: "Ex: Digite: 5, para aumentar/reduzir em 5%", step: 0.01, class: "form-control" %>
        </div>
        <%= f.submit "Aumentar Preços de Compra", name: "increase_purchase_percentage", class: "btn btn-primary btn-sm mr-1" %>
        <%= f.submit "Reduzir Preços de Compra", name: "decrease_purchase_percentage", class: "btn btn-warning btn-sm"  %>
      <% end %>
    </div>
  </div>
  
  <div class="card-body">
    <table class="table table-bordered table-hover text-center">
      <thead>
        <tr>
          <th>Madeira Serrada</th>
          <th>Unidade</th>
          <th>Preço de Compra</th>
          <th>Preço de Venda</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.unity %></td>
            <td><%= number_to_currency(product.purchase_price, unit: "R$", separator: ",", delimiter: ".") %></td>
            <td><%= number_to_currency(product.sale_price, unit: "R$", separator: ",", delimiter: ".") %></td>
            <td>
              <%= link_to "Editar", edit_product_path(product), class: "btn btn-warning btn-sm" %>
              <%= link_to "Excluir", product_path(product), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <div>
      <%= form_with(url: adjust_sale_prices_path, method: :patch) do |f| %>
        <div class="form-group mb-2 me-2">
          <%= f.number_field :sale_percentage, placeholder: "Ex: Digite: 5, para aumentar/reduzir em 5% - PREÇO DE VENDA", step: 0.01, class: "form-control" %>
        </div>
        <div class="btn-group mb-2 me-2" role="group">
          <%= f.submit "+VIGA", name: "increase_viga_sale_percentage", class: "btn btn-primary btn-sm" %>
          <%= f.submit "-VIGA", name: "decrease_viga_sale_percentage", class: "btn btn-primary btn-sm" %>
          <%= f.submit "+CAIBRO", name: "increase_caibro_sale_percentage", class: "btn btn-warning btn-sm" %>
          <%= f.submit "-CAIBRO", name: "decrease_caibro_sale_percentage", class: "btn btn-warning btn-sm" %>
          <%= f.submit "+FRECHAL", name: "increase_frechal_sale_percentage", class: "btn btn-primary btn-sm" %>
          <%= f.submit "-FRECHAL", name: "decrease_frechal_sale_percentage", class: "btn btn-primary btn-sm" %>
          <%= f.submit "+RIPA", name: "increase_ripa_sale_percentage", class: "btn btn-warning btn-sm" %>
          <%= f.submit "-RIPA", name: "decrease_ripa_sale_percentage", class: "btn btn-warning btn-sm" %>
        </div>
      <% end %>
  
      <%= form_with(url: adjust_purchase_prices_path, method: :patch) do |f| %>
        <div class="form-group mb-2 me-2">
          <%= f.number_field :purchase_percentage, placeholder: "Ex: Digite: 5, para aumentar/reduzir em 5% - PREÇO DE COMPRA", step: 0.01, class: "form-control" %>
        </div>
        <div class="btn-group mb-2 me-2" role="group">
          <%= f.submit "+VIGA", name: "increase_viga_purchase_percentage", class: "btn btn-primary btn-sm" %>
          <%= f.submit "-VIGA", name: "decrease_viga_purchase_percentage", class: "btn btn-primary btn-sm" %>
          <%= f.submit "+CAIBRO", name: "increase_caibro_purchase_percentage", class: "btn btn-warning btn-sm" %>
          <%= f.submit "-CAIBRO", name: "decrease_caibro_purchase_percentage", class: "btn btn-warning btn-sm" %>
          <%= f.submit "+FRECHAL", name: "increase_frechal_purchase_percentage", class: "btn btn-primary btn-sm" %>
          <%= f.submit "-FRECHAL", name: "decrease_frechal_purchase_percentage", class: "btn btn-primary btn-sm" %>
          <%= f.submit "+RIPA", name: "increase_ripa_purchase_percentage", class: "btn btn-warning btn-sm" %>
          <%= f.submit "-RIPA", name: "decrease_ripa_purchase_percentage", class: "btn btn-warning btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
  
  </div>
  
</div>
