<div class="card card-primary">
  <div class="card-header">
     <strong>Lista de fornecedores</strong>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Número</th>
          <th>Complemento</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Telefone</th>
          <th>CNPJ</th>
          <th>Inscrição Estadual</th>
          <th>Razão Social</th>
        </tr>
      </thead>
      <tbody>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= supplier.name %></td>      
            <td><%= supplier.address %></td>  
            <td><%= supplier.number %></td>
            <td><%= supplier.complement %></td>
            <td><%= supplier.district %></td>
            <td><%= supplier.city %></td>
            <td><%= supplier.state %></td>
            <td><%= supplier.phone %></td>
            <td><%= supplier.cnpj %></td>     
            <td><%= supplier.state_registration %></td>
            <td><%= supplier.corporate_name %></td>         
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
