
<% if flash[:notice].present? %>
  <%= content_tag :div, flash.notice, id: "flash-notice", style: "display: none;" %>
  <script>
    Swal.fire({
        toast: true,
        position: "top-end",
        icon: 'success',
        title: document.getElementById('flash-notice').innerText,
        timer: 2000,
        showConfirmButton: false,
        timerProgressBar: true,
      });
  </script>
<% end %>

<div class="card card-primary">
  <div class="card-header">
    <h1><strong>Lista de Fornecedores</strong></h1>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="text-align: center;">
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Telefone</th>
            <th>CNPJ</th>
            <th>Insc. Estadual</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @suppliers.each do |supplier| %>
            <tr class="align-middle text-center">
              <td class="align-middle"><%= supplier.name %></td>
              <td class="align-middle"><%= supplier.city %></td>
              <td class="align-middle"><%= supplier.state %></td>
              <td class="align-middle"><%= supplier.phone %></td>
              <td class="align-middle"><%= supplier.cnpj %></td>
              <td class="align-middle"><%= supplier.state_registration %></td>
              <td class="align-middle">
                <%= link_to "Detalhes", supplier_path(supplier), class: "btn btn-primary btn-sm btn-block", data: { turbo: false } %>
                <%= link_to "Editar", edit_supplier_path(supplier), class: "btn btn-warning btn-sm btn-block mt-1", data: { turbo: false } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


