<div class="container" style="display: flex; flex-direction: column; align-items: center;">
    <div class="card" style="width: 50%;"> 
      <div class="card-header">
        <h1>Relatório de Vendas por Dia</h1>
      </div>
    
      <div class="dropdown card-footer" style="display: flex; justify-content: center;">
            <%= form_with(url: sales_data_path, method: "get") do |f| %>
          
                <div class="form-inline">
                    <%= f.date_field :date , class:"mr-1"%>
                    <%= f.submit "Filtrar", class: "btn btn-primary btn-sm" %>
                </div>
            <% end %>
      </div>
    </div>

    <div class="card" style="width: 50%;"> 
      <div class="card-header">
        <h1>Relatório de Vendas Gerais</h1>
      </div>
    
      <div class="dropdown card-footer" style="display: flex; justify-content: center;">
          <div>
            <span class="d-flex justify-content-end"><div class="m-1"><%= link_to "Todas as Vendas", all_sales_download_pdf_path, class:"btn btn-warning", data: { turbo: false } %></div></span>
          </div>
      </div>
    </div>

    <div class="card" style="width: 50%;"> 
      <div class="card-header">
        <h1>Relatório de Vendas por Período</h1>
      </div>
    
      <div class="dropdown card-footer" style="display: flex; justify-content: center;">
        
        <% if @start_date.present? && @end_date.present? %>
          <span class="d-flex justify-content-end">
            <div class="m-1">
              <%= link_to "Todas as Vendas", period_sales_download_pdf_path(start_date: @start_date, end_date: @end_date), class: "btn btn-warning", data: { turbo: false } %>
            </div>
          </span>
          <div class="d-flex align-items-center">
            <%= form_with(url: sales_path, method: "get") do |f| %>
              <div class="form-inline">
                <div style="display: none;">
                  <%= f.date_field :start_date, value: nil %>
                  <%= f.date_field :end_date, value: nil %>
                </div>
                <%= f.submit "Novo PDF", class: "btn btn-primary btn-sm" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="d-flex align-items-center">
            <%= form_with(url: sales_path, method: "get") do |f| %>
              <div class="form-inline">
                <%= f.date_field :start_date, class: "mr-1" %>
                <%= f.date_field :end_date, class: "mr-1" %>
                <%= f.submit "Filtrar", class: "btn btn-primary btn-sm" %>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
    
</div>
  