<div class="container" style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
  <!-- <div class="card" style="width: 100%; max-width: 600px;">
    <div class="card-header text-center">
      <h1><i class="fas fa-chart-line"></i> Relatório de Vendas por Dia</h1>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <%= form_with(url: sales_data_path, method: "get", local: true) do |f| %>
        <div class="form-group">
          <%= f.label :date, "Data", class: "form-label" %>
          <%= f.date_field :date, class: "form-control mr-2", placeholder: "Selecione a data" %>
          <%= f.submit "Filtrar", class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div> -->

  <div class="card" style="width: 100%; max-width: 600px;">
    <div class="card-header text-center">
      <h1><i class="fas fa-solid fa-file-pdf"></i> Relatório de Vendas</h1>
      
    </div>
    <div class="card-footer d-flex justify-content-center">
      <span class="d-flex justify-content-end">
        <div class="m-1">
          <%= link_to "Gerar Relatorio Mensal", report_month_sales_path, class:"btn btn-warning", data: { turbo: false } %>
        </div>
      </span>

      <span class="d-flex justify-content-end">
        <div class="m-1">
          <%= link_to "Gerar Relatorio Anual", report_year_sales_path, class:"btn btn-warning", data: { turbo: false } %>
        </div>
      </span>
    </div>
  </div>

  <!-- <div class="card" style="width: 100%; max-width: 600px;">
    <div class="card-header text-center">
      <h1><i class="fas fa-file-alt"></i> Relatório de Vendas Gerais</h1>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <%= link_to "Todas as Vendas", all_sales_download_pdf_path, class: "btn btn-warning btn-sm", data: { turbo: false } %>
    </div>
  </div>

  <div class="card" style="width: 100%; max-width: 600px;">
    <div class="card-header text-center">
      <h1><i class="fas fa-calendar-alt"></i> Relatório de Vendas por Período</h1>
    </div>
    <div class="card-footer d-flex flex-column align-items-center">
      <% if @start_date.present? && @end_date.present? %>
        <%= link_to "Gerar PDF", period_sales_download_pdf_path(start_date: @start_date, end_date: @end_date), class: "btn btn-warning btn-sm mb-2", data: { turbo: false } %>
        <%= form_with(url: sales_path, method: "get", local: true) do |f| %>
          <div class="form-inline d-none">
            <%= f.date_field :start_date, value: nil %>
            <%= f.date_field :end_date, value: nil %>
          </div>
          <%= f.submit "Novo PDF", class: "btn btn-primary btn-sm" %>
        <% end %>
      <% else %>
        <%= form_with(url: sales_path, method: "get", local: true) do |f| %>
          <div class="form-group">
            <%= f.label :start_date, "Data de Início", class: "form-label" %>
            <%= f.date_field :start_date, class: "form-control mr-2" %>
            <%= f.label :end_date, "Data de Fim", class: "form-label" %>
            <%= f.date_field :end_date, class: "form-control mr-2" %>
            <%= f.submit "Filtrar", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card" style="width: 100%; max-width: 600px;">
    <div class="card-header text-center">
      <h1><i class="fas fa-book"></i> Relatório de Plano de Contas</h1>
    </div>
    <div class="card-footer d-flex flex-column align-items-center">
      <% if @expense_id.present? %>
        <%= link_to "Gerar Relatório", expense_report_path(expense_id: @expense_id), class: "btn btn-warning btn-sm mb-2", data: { turbo: false } %>
        <%= form_with(url: sales_path, method: "get", local: true) do |f| %>
          <div class="form-inline d-none">
            <%= f.number_field :expense_id, value: nil %>
          </div>
          <%= f.submit "Novo PDF", class: "btn btn-primary btn-sm" %>
        <% end %>
      <% else %>
        <%= form_with(url: sales_path, method: "get", local: true) do |f| %>
          <div class="form-group">
            <%= f.label :expense_id, "Plano de Contas", class: "form-label" %>
            <%= f.collection_select :expense_id, Expense.all, :id, :name, { include_blank: false, prompt: "Selecione o Plano de Contas" }, class: 'form-control mr-2' %>
            <%= f.submit "Filtrar", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card" style="width: 100%; max-width: 600px;">
    <div class="card-header text-center">
      <h1><i class="fas fa-calendar-check"></i> Relatório de Plano de Contas por Período</h1>
    </div>
    <div class="card-footer d-flex flex-column align-items-center">
      <% if @start_date_expense.present? && @end_date_expense.present? && @expense_id_date.present? %>
        <%= link_to "Gerar Relatório", expense_report_data_path(expense_id_date: @expense_id_date, start_date_expense: @start_date_expense, end_date_expense: @end_date_expense), class: "btn btn-warning btn-sm mb-2", data: { turbo: false } %>
        <%= form_with(url: sales_path, method: "get", local: true) do |f| %>
          <div class="form-inline d-none">
            <%= f.date_field :start_date_expense, value: nil %>
            <%= f.date_field :end_date_expense, value: nil %>
          </div>
          <%= f.submit "Novo PDF", class: "btn btn-primary btn-sm" %>
        <% end %>
      <% else %>
        <%= form_with(url: sales_path, method: "get", local: true) do |f| %>
          <div class="form-group">
            <%= f.label :expense_id_date, "Plano de Contas", class: "form-label" %>
            <%= f.collection_select :expense_id_date, Expense.all, :id, :name, { include_blank: false, prompt: "Selecione o Plano de Contas" }, class: 'form-control mr-2' %>
            <%= f.label :start_date_expense, "Data de Início", class: "form-label" %>
            <%= f.date_field :start_date_expense, class: "form-control mr-2" %>
            <%= f.label :end_date_expense, "Data de Fim", class: "form-label" %>
            <%= f.date_field :end_date_expense, class: "form-control mr-2" %>
            <%= f.submit "Filtrar", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div> -->
</div>

<!-- Add FontAwesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
