<nav class="main-header navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">

            <%= link_to cash_registers_path, class: "navbar-brand" do %>
                <i class="fas fa-home"></i>
            <% end %>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Caixa</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">
                            <li><%= link_to "Abrir o Caixa", new_cash_register_path,class:"dropdown-item" %></li>
                            <li class="dropdown-divider"></li>   
                            <li><%= link_to "Ver Caixa", cash_registers_path,class:"dropdown-item" %></li>
                            
                                         
                        </ul>
                    </li>

                    <% if @cash_register_last.cash_register_status===0 %> <!--CAIXA EM ABERTO-->
                        <li class="nav-item">
                            <%= link_to carts_path, class: "nav-link" do %>
                                <p>Vender</p>
                            <% end %>
                        </li>
                
                     <% end %>

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="nav-link dropdown-toggle">Produto</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
                            style="left: 0px; right: inherit;">
                            <li>
                                <%= link_to "Novo Produto" , new_product_path,class:"dropdown-item" %>
                            </li>

                            <li class="dropdown-divider"></li>

                            <li>
                                <%= link_to "Lista de Produtos" , products_path,class:"dropdown-item" %>
                            </li>

                        </ul>
                    </li>

                    <% if @cash_register_last.cash_register_status===0 %>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="nav-link dropdown-toggle">Compra</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
                                style="left: 0px; right: inherit;">
                                <li>
                                    <%= link_to "Novo Compra" , new_purchase_path ,class:"dropdown-item" %>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <%= link_to "Lista de Compras" , purchases_path,class:"dropdown-item" %>
                                </li>
                            </ul>
                        </li>
                    <% end %>
                        

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="nav-link dropdown-toggle">Cliente</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
                            style="left: 0px; right: inherit;">
                            <li>
                                <%= link_to "Novo cliente" , new_client_path ,class:"dropdown-item" %>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="nav-link dropdown-toggle">Fornecedor</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
                            style="left: 0px; right: inherit;">
                            <li>
                                <%= link_to "Novo Fornecedor" , new_supplier_path ,class:"dropdown-item" %>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <%= link_to inventories_path, class: "nav-link" do %>
                            <p>Estoque</p>
                            <% end %>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Relatórios</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">
                            <li><%= link_to "Vendas", root_path ,class:"dropdown-item" %></li>
                            <li class="dropdown-divider"></li>   
                            <li><%= link_to "Clientes", clients_path,class:"dropdown-item" %></li>
                            <li class="dropdown-divider"></li>   
                            <li><%= link_to "Caixas", show_cash_registers_path,class:"dropdown-item" %></li>
                            <li class="dropdown-divider"></li>   
                            <li><%= link_to "Lista de Fornecedores", suppliers_path,class:"dropdown-item" %></li>
                            <li class="dropdown-divider"></li>   
                            <li><%= link_to "Lista de Compras", purchases_path,class:"dropdown-item" %></li>               
                        </ul>
                    </li>

                    <li class="nav-item">
                        <div class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-user">
                                    <%= current_user.username %>
                                </i></a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
                                style="left: 0px; right: inherit;">
                                <li>
                                    <%= button_to "Sair" , destroy_user_session_path, method:
                                        :delete,class:"dropdown-item" %>
                                </li>

                            </ul>
                        </div>
                    </li>

                   
                </ul>

                

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>