<!DOCTYPE html>
<html>
  <head>
    <title>MadeireiraIdeal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body class="hold-transition layout-top-nav">
    <div class="wrapper">
      <%= render "layouts/header" %>
      <div class="content-wrapper"> 
        <div class="content-header">
          <div class="container">     
            <%= yield %>    
          </div>
        </div>      
      </div>
    <div>
    
  </body>
</html>
